@{
  Layout = "_layout";
}

<form action="/places" method="post">
  <label for="city">Add a new location!</label>
  <input id="city" name="city" type="text">
  <button type="submit" class="btn btn-success">Add Place!</button>
</form>