@{
  Layout = "_layout";
}

<form action="/places" method="post">
  <label for="city">City: </label>
  <input id="city" name="city" type="text">
  <label for="country">Country: </label>
  <input id="country" name="country" type="text">
  <label for="when">When: </label>
  <input id="when" name="when" type="text">
  <label for="howLong">How Long: </label>
  <input id="howLong" name="howLong" type="text">
  <label for="who">Who: </label>
  <input id="who" name="who" type="text">
  <label for="journal">Journal: </label>
  <input id="journal" name="journal" type="text">
  <button type="submit" class="btn btn-success">Add your trip!</button>
</form>